<style>
    body {
        background-color: #FFE5E7;
    }
</style>
<div class="mt-4">
    <div class="row">
        <div class="col-lg-8 news-item">
            <link rel="preconnect" href="https://fonts.googleapis.com" />
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
            <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Black+And+White+Picture&family=Fredoka+One&family=Fruktur&family=Ultra&display=swap" rel="stylesheet" />
            <h1 class="news-name"><b>{{news.name}}</b></h1>
            <b class="news-description">{{news.description}}</b>
            <p class="news-content">{{{news.content}}}</p>
        </div>
        <div class="col-lg-0.1">
            <div class="abc"></div>
        </div>
    </div>
</div>
