<style>
    body {
        background-color: #ffcfd3;
    }
</style>
<div class="mt-4">
    <div class="row">
        <div class="col-lg-9">
            <iframe
                width="768"
                height="432"
                src="https://www.youtube.com/embed/videoseries?list={{course.listId}}"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
            <h2>{{course.name}}</h2>
            <p class="description">{{course.description}}</p>
            <i>( {{course.level}} )</i>
        </div>
        <div class="col-lg-0.1">
            <div class="abc"></div>
        </div>
    </div>
</div>
