<style>
    body {
        background-color: #ffcfd3;
    }
</style>
<div class="mt-4">
    <div class="row">
        
        <div class="col-lg-0.1">
            <div class="abc"></div>
        </div>
    </div>
</div>
