<style>
    body {
        background-color: #FFE5E7;
    }
</style>
<div class="mt-4">
  <div class="row">
  <div class="col-lg-7">
<h3>Tạo tài khoản</h3>

    <form method="POST" action="/user/store">
  <div class="form-group">
    <label for="fullname">Họ và tên</label>
    <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Fullname">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="password">Mật khẩu</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Tạo</button>
</form>
<small>Bạn có tài khoản? <a href="/user/login">Đăng nhập</a></small>
  </div>
  <div class="col-lg-0.1">
      <div class="abc"></div>  
    </div>
  </div>
</div>